@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *{
    font-family: Arial, Helvetica, sans-serif;
    cursor:default;
  }
  *::selection{
    @apply
    bg-indigo-900
    text-white
 
  
  }
    .skills{
      @apply p-3 rounded-xl
      transition-all ease-in-out
    }
  .skillsHover{
    @apply
     hover:-translate-y-1 hover:text-indigo-700  hover:bg-slate-200 ;
  }
  

}
